/* App.css */

/* Base styles for all screen sizes */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
}

.heading {
  margin-top: 20px;
}

.main-box {
  display: inline-block;
  padding: 50px;
  background-color: #444851;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 150px;
}

.map-container {
  text-align: center;
}

.button-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.estimate-text {
  margin-top: 20px;
}

.span-text {
  color: red;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .main-box {
    padding: 20px;
    margin-top: 50px;
  }

  .button-box {
    flex-direction: column;
  }
}
